<header class="app-header">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-logo">
        <i class="logo"><img src="assets/images/logo.png" alt="our page logo" title="Page Logo"/></i>
      </div>
      <div class="user-info">
        <div class="user-picture">
          <img src="assets/images/doge.jpg"/>
        </div>
        <div class="user-name">
          <span class="greeting">Hello,</span>
          <span class="name">Doge</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="app-header-swirbar">
    <img class="swirbar" src="assets/images/centric-swirlbar.png" alt="swirlbar separator"/>
  </div>
</header>
